<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raíces
        block externos
        link(rel="stylesheet", href=`${directorio}/css/${archivo}.css`)
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    body
        include ../components/header_menu
        block content
        footer
            .footer
                .menu
                    include ../components/menu
                .derechos
                    div Todos Los Derechos Reservados &copy;