.menu_items
    a(href=`${directorio}/nosotros.html`) Nosotros
.menu_items
    a(href=`${directorio}/anuncios.html`) Anuncios
.menu_items
    a(href=`${directorio}/blog.html`) Blog
.menu_items
    a(href=`${directorio}/contacto.html`) Contacto