extends ../components/master
block externos
    - let directorio=".";
    - let archivo="nosotros";
block content
    section
        h2 Conoce Sobre Nosotros
        .informacion
            .img
                img(src="/img/nosotros.jpg", alt="nosotros")
            .texto
                h3 25 Años de Experiencia
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus magna diam, non laoreet sem sollicitudin et. Curabitur sed feugiat lorem. Vestibulum facilisis quam id.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tristique enim. Etiam scelerisque eros ut tempus sodales. Suspendisse potenti. Fusce rhoncus dignissim urna, ac dignissim urna elementum ut. Ut volutpat id nibh ac vestibulum. Maecenas vitae risus blandit turpis vestibulum vulputate at in sapien. Ut eu lorem volutpat, euismod.
    include ../components/mas_sobre_nosotros