$color2: #ec8533;
$color1: #67ad3e;
$color3: #353535;

@mixin header($home) {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @if $home {
    background: none;
    padding: 0px;
    position: relative;
    z-index: 600;
  } @else {
    background-color: $color3;
    padding: 30px 0px;
  }

  nav {
    display: flex;
  }
}

@mixin boton($color, $width: 150px) {
  background-color: $color;
  height: 50px;
  border: none;
  color: white;
  font-weight: bold;
  width: $width;
}

* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

section > div {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px 0px;

  h2 {
    margin-bottom: 30px;
  }
}

section {
  text-align: center;
  padding-top: 50px;
}

.menu_items {
  a {
    margin: 0 10px;
    color: white;
    font-weight: bold;
  }
}

@import "./footer";
